@font-face {
    font-family: Header;
    src: url("../../assets/fonts/Helvetica Bold Condensed/Helvetica Bold Condensed.otf");
}

@font-face {
    font-family: Inconsolata;
    src: url("../../assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: futura;
    src: url("../../assets/fonts/futura/Futura Heavy font.ttf");
}

:root {
    --gray-ship: #D1D2DE;
    --gray-dot: #BCBDC8;
    --gray: #717C96;
    --red: #FF0055;
    --soft-green: #D4EED1;
    --light-blue: rgba(97, 198, 255, 0.2);
    --blue: rgba(97, 198, 255, 0.4);
    --light-gray: rgba(157, 157, 157, 0.20);
    --grid-font: rgba(113, 124, 150, 0.7);
    --grid-enemy-cell: #EBEBEB;
    --grid-devide: rgba(113, 124, 150, 0.4);
    --background: #ffffff;
    --header-background: #f5f5f5;
    font-size: 40px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

p {
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: var(--header-background);
}

.header-text {
    font-family: Header, sans-serif;
}

#github {
    display: flex;
    align-items: center;
    gap: 1em;
    font-family: Inconsolata;
    font-weight: 350;
    font-size: 0.5rem;
}

#github > a > img {
    width: 35px;
}

#main {
    background-color: var(--background);
    padding: 1rem 5rem;
    flex-grow: 1;
}

#game-grid {
    width: 100%;
    height: 100%;
    background-color: var(--grid-devide);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}

#game-grid > div {
    background-color: var(--background);
}

.player {
    padding-right: 5rem;
}

.enemy {
    padding-left: 5rem;
}

.game-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.game-panel > button,
.yard > button,
.round,
form > button {
    appearance: none;
    font-family: futura;
    font-weight: bold;
    font-size: .7rem;
    letter-spacing: .15ch;
    word-spacing: .5ch;
    color: var(--background);
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0;
}

.game-panel > button {
    margin-left: .4rem;
    width: 95%;
}

.round {
    width: 200px;
}

.player > button,
.yard > button,
.round.player-round,
dialog.player-won button {
    background-color: var(--red);
}

.yard > button {
    align-self: center;
    justify-self: center;
    width: 300px;
    margin-left: 90px;
}

.enemy > button,
dialog.enemy-won button {
    background-color: var(--gray);
}

.board {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
    gap: 4px;
}

.board > * {
    font-family: futura;
    font-weight: bold;
    font-size: .7rem;
    color: var(--grid-font);
}

.cell {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
}

.player .cell {
    background-color: var(--light-blue);
}

.player .cell.hover {
    background-color: var(--blue);
}

.player .cell.dragover {
    background-color: var(--soft-green);
}

.cell.miss,
.enemy .cell.miss {
    background-color: var(--grid-devide);
}

.enemy .cell {
    background-color: var(--grid-enemy-cell);
}

.enemy .cell.hover {
    background-color: var(--grid-devide);
}

.player .cell.invalid,
.cell.hit,
.enemy .cell.hit {
    background-color: var(--red);
}

.yard {
    width: 100%;
    height: 100px;
    display: flex;
}

.yard > .name {
    padding-top: 10px;
    width: 50px;
    height: 100%;
    font-family: futura;
    font-size: .5rem;
    color: var(--grid-font);
    transform: rotate(-90deg);
    transform-origin: right;
    display: inline-block;
    margin: 0;
}

.ships {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.ship-wrap {
    position: relative;
    height: 35px;
    background-color: var(--gray-ship);
    will-change: transform;
}

.ship {
    position: absolute;
    left: -8px;
    top: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.ship-dot {
    border-radius: 9999px;
    background-color: var(--gray-dot);
    width: 15px;
    aspect-ratio: 1/1;
}

.ship-wrap.two {
    position: relative;
    width: 95px;
    background-color: var(--gray-ship);
    border-radius: 50px;
    border-top-right-radius: 120px 50px;
    border-bottom-right-radius: 120px 50px;
    will-change: transform;
}

.ship-wrap.two > .ship {
    grid-template-columns: repeat(2, 50px);
}

.ship-wrap.three-a {
    position: relative;
    width: 142px;
    background-color: var(--gray-ship);
    border-radius: 50px;
    will-change: transform;
}

.ship-wrap.three-b {
    position: relative;
    width: 142px;
    background-color: var(--gray-ship);
    border-radius: 50px;
    border-top-right-radius: 120px 50px;
    border-bottom-right-radius: 120px 50px;
    will-change: transform;
}

.ship-wrap.three-a > .ship,
.ship-wrap.three-b > .ship {
    grid-template-columns: repeat(3, 50px);
}

.ship-wrap.four {
    width: 190px;
    border-radius: 50px;
    border-top-right-radius: 120px 50px;
    border-bottom-right-radius: 120px 50px;
}

.ship-wrap.four > .ship {
    grid-template-columns: repeat(4, 50px);
}


.ship-wrap.five {
    position: relative;
    width: 238px;
    background-color: var(--gray-ship);
    border-radius: 10px;
    will-change: transform;
}

.ship-wrap.five > .ship {
    grid-template-columns: repeat(5, 50px);
}

.ship-wrap.locked {
    position: absolute;
}

.ship-wrap.sunk {
    background-color: var(--gray);
}

.cell.locked {
    background-color: green;
}

.round {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    background-color: var(--gray);
}

dialog {
    top: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

dialog.player-won {
    border-radius: 8px;
}

dialog > p {
    font-family: futura;
    font-size: .9rem;
}

dialog > form {
    width: 100%;
}

dialog > form > button {
    border: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .35);
}
